@tailwind base;
@tailwind components;
@tailwind utilities;

#dashboard-sidebar .active{
    background: #1A1F37;
}

body{
    background-image: url("../src//assets//images/bg-dashboard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2526px 1980px;
    backdrop-filter: blur(10px);
}
.bg-person{
    background-image: url("../src/assets/images/bg-meduza.png");
    background-repeat: no-repeat;
    background-position: right;
}
.tspan{
    color: white;
}